@model IEnumerable<BrowserCalls.Web.Models.Ticket>

<h2>Support Tickets</h2>

<p class="lead">
    This is the list of most recent support tickets. Click the "Call customer" button to start a phone call from your browser.
</p>

<div class="row">
    <div class="col-md-4 col-md-push-8">
        <div class="card card-primary client-controls">
            <div class="card-heading">
            </div>
            <div class="card-body">
                <h3 class="card-title">Make a call</h3>

                <p>
                    <strong>Status: </strong>
                    <span id="call-status">
                        Connecting to Twilio...
                    </span>
                </p>
                <button class="btn btn-lg btn-success answer-button" disabled>Answer call</button>
                <button class="btn btn-lg btn-danger hangup-button" disabled onclick="hangUp()">Hang up</button>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-md-pull-4">
        @foreach (var ticket in Model)
        {
        <div class="card card-default">
            <div class="card-body">
                <h3 class="card-title">Ticket #@ticket.Id <small class="pull-right">@ticket.CreatedAt</small></h3>

                <div class="pull-right">
                    <button onclick="callCustomer('@ticket.PhoneNumber')" type="button" class="btn btn-primary btn-lg call-customer-button">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        Call customer
                    </button>
                </div>

                <p><strong>Name:</strong> @ticket.Name</p>
                <p><strong>Phone number:</strong> @ticket.PhoneNumber</p>
                <p><strong>Description:</strong></p>
                @ticket.Description
            </div>
        </div>
        }
    </div>
</div>